@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("NivoSlider", "Home");}
<div class="master-wrapper-content">
    @*<div class="ajaxCartInfo" data-getAjaxCartButtonUrl="/NopAjaxCart/GetAjaxCartButtonsAjax" data-productPageAddToCartButtonSelector=".add-to-cart-button" data-productBoxAddToCartButtonSelector=".product-box-add-to-cart-button" data-productBoxProductItemElementSelector=".product-item" data-enableOnProductPage="True" data-enableOnCatalogPages="True" data-miniShoppingCartQuatityFormattingResource="({0})" data-miniWishlistQuatityFormattingResource="({0})" data-addToWishlistButtonSelector=".add-to-wishlist-button"> </div>*@
    <input id="addProductVariantToCartUrl" name="addProductVariantToCartUrl" type="hidden" value="/AddProductFromProductDetailsPageToCartAjax" />
    <input id="addProductToCartUrl" name="addProductToCartUrl" type="hidden" value="/cart/AddProductToCartAjax" />
    <input id="miniShoppingCartUrl" name="miniShoppingCartUrl" type="hidden" value="/cart/MiniShoppingCart" />
    <input id="flyoutShoppingCartUrl" name="flyoutShoppingCartUrl" type="hidden" value="/cart/NopAjaxCartFlyoutShoppingCart" />
    @*<input id="checkProductAttributesUrl" name="checkProductAttributesUrl" type="hidden" value="/CheckIfProductOrItsAssociatedProductsHasAttributes" />*@
    <input id="getMiniProductDetailsViewUrl" name="getMiniProductDetailsViewUrl" type="hidden" value="/GetMiniProductDetailsView" />
    <input id="flyoutShoppingCartPanelSelector" name="flyoutShoppingCartPanelSelector" type="hidden" value="#flyout-cart" />
    <input id="shoppingCartMenuLinkSelector" name="shoppingCartMenuLinkSelector" type="hidden" value=".cart-qty" />
    <input id="wishlistMenuLinkSelector" name="wishlistMenuLinkSelector" type="hidden" value="span.wishlist-qty" />
    @*<div id="product-ribbon-info" data-productid="0" data-productboxselector=".product-item, .item-holder" data-productboxpicturecontainerselector=".picture, .item-picture" data-productpagepicturesparentcontainerselector=".product-essential" data-productpagebugpicturecontainerselector=".picture" data-retrieveproductribbonsurl="/RetrieveProductRibbons"> </div>*@
    <div class="quickViewData" data-productselector=".product-item" data-productselectorchild=".btn-wrapper" data-retrievequickviewurl="/product/quickviewdata" data-quickviewbuttontext="Quick View" data-quickviewbuttontitle="Quick View" data-isquickviewpopupdraggable="True" data-enablequickviewpopupoverlay="True" data-accordionpanelsheightstyle="content"> </div>
    <div class="master-column-wrapper">
        <div class="center-1">
            <input id="home-page-carousel-breakpoints" type="hidden" value="[{&quot;breakpoint&quot;:1600,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:1024,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:600,&quot;settings&quot;:{&quot;slidesToShow&quot;:1}}]" />
            <div class="page home-page">
                <div class="page-body">
                    @{Html.RenderAction("HomePageAdvantages", "Home");}
                    @{Html.RenderAction("JCarouselMain", "Home");}
                    @{Html.RenderAction("HomePageCategory", "Home");}
                    <div id="spc-slick-slider-settings" data-showitemsincarousel="true" data-slickcategorysettings="{ &quot;respondTo&quot;: &quot;slider&quot;, &quot;infinite&quot;: true, &quot;rows&quot;: 2, &quot;slidesToShow&quot;: 2, &quot;arrows&quot;: true, &quot;dots&quot;: true, &quot;easing&quot;: &quot;swing&quot;, &quot;draggable&quot;: false }" data-slickproductsettings="{ &quot;respondTo&quot;: &quot;slider&quot;, &quot;infinite&quot;: true, &quot;rows&quot;: 1, &quot;slidesToShow&quot;: 6, &quot;arrows&quot;: true, &quot;dots&quot;: false, &quot;easing&quot;: &quot;swing&quot;, &quot;draggable&quot;: false }" data-categoryresponsivebreakpoints="[{&quot;breakpoint&quot;:1600,&quot;settings&quot;: {&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:1024,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:600,&quot;settings&quot;:{&quot;slidesToShow&quot;:1}}]" data-productresponsivebreakpoints="[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5}},{&quot;breakpoint&quot;:1250,&quot;settings&quot;:{&quot;slidesToShow&quot;:4}},{&quot;breakpoint&quot;:980,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:460,&quot;settings&quot;:{&quot;slidesToShow&quot;:2, &quot;arrows&quot;: false, &quot;dots&quot;: true}}]"></div>
                    @{Html.RenderAction("SPCCategories", "Home");}
                    @{Html.RenderAction("SaleOfTheDay", "Home");}
                    @{Html.RenderAction("TwoRowCarousels", "Home");}
                </div>
            </div>
        </div>
    </div>
</div>