@model Models.EF.ProductsGroup

<table class="table table-bordered table-striped" id="CategoryList">
    <thead>
        <tr>
            <td class="col-md-10">Category</td>
            <td class="text-center col-md-1">Edit</td>
            <td class="text-center col-md-1">Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductsGroupItems)
        {
            <tr>
                <td style="vertical-align:inherit">
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td style="vertical-align:inherit" class="text-center col-md-1">
                    <a class="btn btn-primary" href="/Admin/Category/Edit/@item.CategoryId"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</a>
                </td>
                <td style="vertical-align:inherit" class="text-center col-md-1">
                    <a class="btn btn-primary" href="/Admin/ProductsGroupItem/Delete/@item.Id"><i class="fa fa-remove"></i>&nbsp;&nbsp;Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>