<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Assets/Admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="/Admin/Home/Index">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Catalog</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/Product/Index"><i class="fa fa-circle-o"></i> Products</a></li>
                    <li><a href="/Admin/Category/Index"><i class="fa fa-circle-o"></i> Categories</a></li>
                    <li><a href="/Admin/Manufacture/Index"><i class="fa fa-circle-o"></i> Manufacturers</a></li>
                    <li><a href="/Admin/ProductReview/Index"><i class="fa fa-circle-o"></i> Product reviews</a></li>
                    <li><a href="/Admin/ProductTag/Index"><i class="fa fa-circle-o"></i> Product tags</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Sales</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/Order/Index"><i class="fa fa-circle-o"></i> Orders</a></li>
                    <li><a href="/Admin/GiftCard/Index"><i class="fa fa-circle-o"></i> Gift cards</a></li>
                    <li><a href="/Admin/ShoppingCart/Index"><i class="fa fa-circle-o"></i> Shopping carts and whitelists</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Customers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/Customer/Index"><i class="fa fa-circle-o"></i> Customers</a></li>
                    <li><a href="/Admin/CustomerRole/Index"><i class="fa fa-circle-o"></i> Customer roles</a></li>
                    <li><a href="/Admin/OnlineCustomer/Index"><i class="fa fa-circle-o"></i> Online customers</a></li>
                    <li><a href="/Admin/Vendor/Index"><i class="fa fa-circle-o"></i> Vendors</a></li>
                    <li><a href="/Admin/ActivityLog/Index"><i class="fa fa-circle-o"></i> Activity log</a></li>
                    <li><a href="/Admin/ActivityLogType/Index"><i class="fa fa-circle-o"></i> Activity Types</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tags"></i> <span>Promotions</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/Discount/Index"><i class="fa fa-circle-o"></i> Discounts</a></li>
                    <li><a href="/Admin/Newsletter/Index"><i class="fa fa-circle-o"></i> Newsletter subscribers</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Content management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/News/Index"><i class="fa fa-circle-o"></i> News items</a></li>
                    <li><a href="/Admin/NewsComment/Index"><i class="fa fa-circle-o"></i> News comments</a></li>
                    <li><a href="/Admin/BlogPost/Index"><i class="fa fa-circle-o"></i> Blog post</a></li>
                    <li><a href="/Admin/BlogComment/Index"><i class="fa fa-circle-o"></i> Blog comments</a></li>
                    <li><a href="/Admin/Poll/Index"><i class="fa fa-circle-o"></i> Polls</a></li>
                </ul>
            </li>
            <li>
                <a href="/Admin/Calendar/Index">
                    <i class="fa fa-calendar"></i> <span>Calendar</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">3</small>
                        <small class="label pull-right bg-blue">17</small>
                    </span>
                </a>
            </li>
            <li>
                <a href="/Admin/MailBox/Index">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-yellow">12</small>
                        <small class="label pull-right bg-green">16</small>
                        <small class="label pull-right bg-red">5</small>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Configuration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/Setting/Index"><i class="fa fa-circle-o"></i> Settings</a></li>
                    <li><a href="/Admin/GeneralSetting/Index"><i class="fa fa-circle-o"></i> General settings</a></li>
                    <li><a href="/Admin/CustomerSetting/Index"><i class="fa fa-circle-o"></i> Customer settings</a></li>
                    <li><a href="/Admin/OrderSetting/Index"><i class="fa fa-circle-o"></i> Order settings</a></li>
                    <li><a href="/Admin/ShippingSetting/Index"><i class="fa fa-circle-o"></i> Shipping settings</a></li>
                    <li><a href="/Admin/TaxSetting/Index"><i class="fa fa-circle-o"></i> Tax settings</a></li>
                    <li><a href="/Admin/CatalogSetting/Index"><i class="fa fa-circle-o"></i> Catalog settings</a></li>
                    <li><a href="/Admin/ShoppingSetting/Index"><i class="fa fa-circle-o"></i> Shopping cart settings</a></li>
                    <li><a href="/Admin/BlogSetting/Index"><i class="fa fa-circle-o"></i> Blog settings</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
