@model List<Models.EF.Product>

<div class="block block-recently-viewed-products">
    <div class="title">
        <strong>Recently viewed products</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            @*<li>
                <a class="product-picture" href="/apple-macbook-pro-13-inch" title="Show details for Apple MacBook Pro 13-inch">
                    <img alt="Picture of Apple MacBook Pro 13-inch" src="http://localhost:15536/images/thumbs/0000024_apple-macbook-pro-13-inch_80.jpeg" title="Show details for Apple MacBook Pro 13-inch" />
                </a>
                <a class="product-name" href="/apple-macbook-pro-13-inch">Apple MacBook Pro 13-inch</a>
            </li>
            <li>
                <a class="product-picture" href="/adidas-consortium-campus-80s-running-shoes" title="Show details for adidas Consortium Campus 80s Running Shoes">
                    <img alt="Picture of adidas Consortium Campus 80s Running Shoes" src="http://localhost:15536/images/thumbs/0000053_adidas-consortium-campus-80s-running-shoes_80.jpg" title="Show details for adidas Consortium Campus 80s Running Shoes" />
                </a>
                <a class="product-name" href="/adidas-consortium-campus-80s-running-shoes">adidas Consortium Campus 80s Running Shoes</a>
            </li>
            <li class="last">
                <a class="product-picture" href="/25-virtual-gift-card" title="Show details for $25 Virtual Gift Card">
                    <img alt="Picture of $25 Virtual Gift Card" src="http://localhost:15536/images/thumbs/0000074_25-virtual-gift-card_80.jpeg" title="Show details for $25 Virtual Gift Card" />
                </a>
                <a class="product-name" href="/25-virtual-gift-card">$25 Virtual Gift Card</a>
            </li>*@
        </ul>
    </div>
</div>