@model List<Models.EF.ProductTag>
<div class="block block-popular-tags">
    <div class="title">
        <strong>Popular tags</strong>
    </div>
    <div class="listbox">
        <div class="tags">
            <ul>
                @foreach (var item in Model)
                {
                    <li><a href="/producttag/@item.Id/@item.Name.ToLower().Replace(" ","-")" style="font-size:100%;">@item.Name</a></li>
                }
                @*<li><a href="/producttag/4/apparel" style="font-size:100%;">apparel</a></li>
                <li><a href="/producttag/8/awesome" style="font-size:150%;">awesome</a></li>
                <li><a href="/producttag/10/book" style="font-size:85%;">book</a></li>
                <li><a href="/producttag/12/camera" style="font-size:85%;">camera</a></li>
                <li><a href="/producttag/11/cell" style="font-size:85%;">cell</a></li>
                <li><a href="/producttag/9/compact" style="font-size:90%;">compact</a></li>
                <li><a href="/producttag/6/computer" style="font-size:120%;">computer</a></li>
                <li><a href="/producttag/3/cool" style="font-size:150%;">cool</a></li>
                <li><a href="/producttag/16/digital" style="font-size:85%;">digital</a></li>
                <li><a href="/producttag/15/game" style="font-size:85%;">game</a></li>
                <li><a href="/producttag/14/jeans" style="font-size:85%;">jeans</a></li>
                <li><a href="/producttag/13/jewelry" style="font-size:85%;">jewelry</a></li>
                <li><a href="/producttag/1/nice" style="font-size:90%;">nice</a></li>
                <li><a href="/producttag/5/shirt" style="font-size:85%;">shirt</a></li>
                <li><a href="/producttag/7/shoes" style="font-size:85%;">shoes</a></li>*@
            </ul>
        </div>
        <div class="view-all">
            <a href="/producttag/all">View all</a>
        </div>
    </div>
</div>
