@model List<Models.EF.ProductTag>
<div class="block block-popular-tags">
    <div class="title">
        <strong>Popular tags</strong>
    </div>
    <div class="listbox">
        <div class="tags">
            <ul>
                @foreach (var item in Model)
                {
                    <li><a href="/producttag/@item.Id/@item.Name.ToLower().Replace(" ","-")" style="font-size:100%;">@item.Name</a></li>
                }
            </ul>
        </div>
        <div class="view-all">
            <a href="/producttag/all">View all</a>
        </div>
    </div>
</div>
