<div class="footer">
    <div class="footer-upper">
        <div class="newsletter">
            <div class="title"> <strong>Newsletter</strong> </div>
            <div class="newsletter-subscribe" id="newsletter-subscribe-block">
                <div class="newsletter-email">
                    <input id="newsletter-email" class="newsletter-subscribe-text" placeholder="Enter your email here..." type="email" name="NewsletterEmail" value="" />
                    <input type="button" value="Subscribe" id="newsletter-subscribe-button" class="button-1 newsletter-subscribe-button" />
                </div>
                <div class="newsletter-validation"> <span id="subscribe-loading-progress" style="display: none;" class="please-wait">Wait...</span> <span class="field-validation-valid" data-valmsg-for="NewsletterEmail" data-valmsg-replace="true"></span> </div>
            </div>
            <div class="newsletter-result" id="newsletter-result-block"></div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="footer-block">
            <div class="title"> <strong>Information</strong> </div>
            <ul class="list">
                <li>
                    <a href="/vendortermsofservice"></a>
                </li>
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="/filterSearch">Search</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/shipping-returns">Shipping &amp; returns</a></li>
                <li><a href="/privacy-notice">Privacy notice</a></li>
                <li><a href="/conditions-of-use">Conditions of Use</a></li>
                <li><a href="/about-us">About us</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <div class="title"> <strong>My account</strong> </div>
            <ul class="list">
                <li><a href="/order/history">Orders</a></li>
                <li><a href="/customer/addresses">Addresses</a></li>
                <li><a href="/recentlyviewedproducts">Recently viewed</a></li>
                <li><a href="/compareproducts">Compare list</a></li>
                <li><a href="/cart">My cart</a></li>
                <li><a href="/wishlist">Wishlist</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <div class="title"> <strong>Customer service</strong> </div>
            <ul class="list">
                <li><a href="/compareproducts">Compare products list</a></li>
                <li><a href="/vendor/apply">Apply for vendor account</a></li>
            </ul>
        </div>
        <div class="socials-and-payments">
            <div class="social-icons">
                <div class="title"> <strong>Follow us</strong> </div>
                <ul class="social-sharing">
                    <li>
                        <a target="_blank" class="twitter" href="https://twitter.com/nopCommerce"></a>
                    </li>
                    <li>
                        <a target="_blank" class="facebook" href="http://www.facebook.com/nopCommerce"></a>
                    </li>
                    <li>
                        <a target="_blank" class="youtube" href="http://www.youtube.com/user/nopCommerce"></a>
                    </li>
                    <li>
                        <a target="_blank" class="google" href="https://plus.google.com/&#x2B;nopcommerce"></a>
                    </li>
                </ul>
            </div>
            <div class="pay-options">
                <h3 class="title">Payment options</h3> 
                <img src="/Content/Themes/Emporium/Content/img/pay_icon1.png" alt="" /> 
                <img src="/Content/Themes/Emporium/Content/img/pay_icon2.png" alt="" /> 
                <img src="/Content/Themes/Emporium/Content/img/pay_icon3.png" alt="" /> 
                <img src="/Content/Themes/Emporium/Content/img/pay_icon6.png" alt="" />
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="footer-powered-by"> Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a> </div>
        <div class="footer-designed-by"> Designed by <a href="https://www.nop-templates.com/" target="_blank">Nop-Templates.com</a> </div>
        <div class="footer-disclaimer"> Copyright &copy; 2020 Your store name. All rights reserved. </div>
    </div>
</div>