@model List<Models.EF.Category>
<div class="header">
    <div class="header-lower">
        <div class="header-logo">
            <a href="/" class="logo"> <img alt="Your store name" title="Your store name" src="https://localhost:44359/Content/images/thumbs/0000185_logo.png" /></a>
        </div>
        <div class="search-box store-search-box">
            <div class="close-side-menu"> <span class="close-side-menu-text">Search store</span> <span class="close-side-menu-btn">Close</span> </div>
            <form method="get" id="small-search-box-form" action="/search">
                <input type="text" class="search-box-text" id="small-searchterms" autocomplete="off" name="q" placeholder="Search store" />
                <input type="hidden" class="instantSearchResourceElement" data-highlightFirstFoundElement="true" data-minKeywordLength="3" data-instantSearchUrl="/instantSearchFor" data-searchPageUrl="/search" data-searchInProductDescriptions="true" data-numberOfVisibleProducts="5" />
                <input type="submit" class="button-1 search-box-button" value="Search" />
            </form>
        </div>
        <div class="header-links-wrapper">
            <div class="header-links">
                <ul>
                    <li>
                        <a href="/customer/info" class="ico-account opener">My account</a>
                        @{
                            var sesion = (OnlineShop.Common.UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
                        }
                        @if (sesion != null)
                        {
                            <div class="profile-menu-box">
                                <div class="close-side-menu"> <span class="close-side-menu-text">@sesion.UserName</span> <span class="close-side-menu-btn">Close</span> </div> <a href="/customer/info" class="ico-account">My account</a> <a href="/user/logout" class="ico-logout">Log out</a>
                            </div>
                        }
                        else
                        {
                            <div class="profile-menu-box login-form-in-header">
                                <div class="close-side-menu">
                                    <span class="close-side-menu-text">My account</span>
                                    <span class="close-side-menu-btn">Close</span>
                                </div>
                                @{Html.RenderPartial("Home", "HeaderFormHolder"); }
                            </div>
                        }
                    </li>
                    <li>
                        <a href="/compareproducts" class="ico-compare">Compare products list</a>
                    </li>
                    <li>
                        <a href="/wishlist" class="ico-wishlist"> <span class="wishlist-label">Wishlist</span> <span class="wishlist-qty">(0)</span> </a>
                    </li>
                </ul>
                @{Html.RenderAction("Home", "MobileFlyoutWrapper"); }
            </div>
        </div>
    </div>
    @{Html.RenderAction("Home", "HeaderMenuParent"); }
</div>