<div class="category-grid home-page-category-grid">
    <div class="item-grid">
        <div class="item-box">
            <div class="category-item">
                <div class="picture">
                    <a href="/electronics" title="Show products in category Electronics"> <img alt="Picture for category Electronics" src="https://localhost:44359/Content/images/thumbs/0000005_electronics_370.jpeg" title="Show products in category Electronics" /> </a>
                </div>
                <h2 class="title">
                    <a href="/electronics" title="Show products in category Electronics">
                        Electronics
                    </a>
                </h2>
            </div>
        </div>
        <div class="item-box">
            <div class="category-item">
                <div class="picture">
                    <a href="/apparel" title="Show products in category Apparel"> <img alt="Picture for category Apparel" src="https://localhost:44359/Content/images/thumbs/0000009_apparel_370.jpeg" title="Show products in category Apparel" /> </a>
                </div>
                <h2 class="title">
                    <a href="/apparel" title="Show products in category Apparel">
                        Apparel
                    </a>
                </h2>
            </div>
        </div>
        <div class="item-box">
            <div class="category-item">
                <div class="picture">
                    <a href="/digital-downloads" title="Show products in category Digital downloads"> <img alt="Picture for category Digital downloads" src="https://localhost:44359/Content/images/thumbs/0000013_digital-downloads_370.jpeg" title="Show products in category Digital downloads" /> </a>
                </div>
                <h2 class="title">
                    <a href="/digital-downloads" title="Show products in category Digital downloads">
                        Digital downloads
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>