<div class="sale-of-the-day-offer ">
    <div class="title"> <strong>New Offers</strong> </div>
    <div class="sotd-wrapper">
        <div class="grid owl-carousel">
            <div class="product-element sale-of-the-day-product-1-45" data-productid="45">
                <div class="sale-item ">
                    <!--product pictures-->
                    <div class="name-and-timer">
                        <!--countdown timer-->
                        <div class="product-name">
                            <h2 class="item-name">
                                <a href="/100-physical-gift-card">$100 Physical Gift Card</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item-gallery">
                        <div class="item-picture">
                            <a href="/100-physical-gift-card" title="$100 Physical Gift Card"> <img alt="Picture of $100 Physical Gift Card" src="https://localhost:44359/Content/images/thumbs/0000076_100-physical-gift-card_510.jpeg" title="Picture of $100 Physical Gift Card" /> </a>
                        </div>
                    </div>
                    <div class="overview">
                        <div class="short-description"> $100 Gift Card. Gift Cards must be redeemed through our site Web site toward the purchase of eligible products. </div>
                        <!--price-->
                        <div class="prices"> <span class="price actual-price">$100.00</span> </div> <a href="/100-physical-gift-card" class="button-1 go-to-product-page">Go To Product Page</a>
                    </div>
                </div>
            </div>
            <div class="product-element sale-of-the-day-product-1-43" data-productid="43">
                <div class="sale-item ">
                    <!--product pictures-->
                    <div class="name-and-timer">
                        <!--countdown timer-->
                        <div class="product-name">
                            <h2 class="item-name">
                                <a href="/25-virtual-gift-card">$25 Virtual Gift Card</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item-gallery">
                        <div class="item-picture">
                            <a href="/25-virtual-gift-card" title="$25 Virtual Gift Card"> <img alt="Picture of $25 Virtual Gift Card" src="https://localhost:44359/Content/images/thumbs/0000074_25-virtual-gift-card_510.jpeg" title="Picture of $25 Virtual Gift Card" /> </a>
                        </div>
                    </div>
                    <div class="overview">
                        <div class="short-description"> $25 Gift Card. Gift Cards must be redeemed through our site Web site toward the purchase of eligible products. </div>
                        <!--price-->
                        <div class="prices"> <span class="price actual-price">$25.00</span> </div> <a href="/25-virtual-gift-card" class="button-1 go-to-product-page">Go To Product Page</a>
                    </div>
                </div>
            </div>
            <div class="product-element sale-of-the-day-product-1-44" data-productid="44">
                <div class="sale-item ">
                    <!--product pictures-->
                    <div class="name-and-timer">
                        <!--countdown timer-->
                        <div class="product-name">
                            <h2 class="item-name">
                                <a href="/50-physical-gift-card">$50 Physical Gift Card</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item-gallery">
                        <div class="item-picture">
                            <a href="/50-physical-gift-card" title="$50 Physical Gift Card"> <img alt="Picture of $50 Physical Gift Card" src="https://localhost:44359/Content/images/thumbs/0000075_50-physical-gift-card_510.jpeg" title="Picture of $50 Physical Gift Card" /> </a>
                        </div>
                    </div>
                    <div class="overview">
                        <div class="short-description"> $50 Gift Card. Gift Cards must be redeemed through our site Web site toward the purchase of eligible products. </div>
                        <!--price-->
                        <div class="prices"> <span class="price actual-price">$50.00</span> </div> <a href="/50-physical-gift-card" class="button-1 go-to-product-page">Go To Product Page</a>
                    </div>
                </div>
            </div>
            <div class="product-element sale-of-the-day-product-1-10" data-productid="10">
                <div class="sale-item ">
                    <!--product pictures-->
                    <div class="name-and-timer">
                        <!--countdown timer-->
                        <div class="product-name">
                            <h2 class="item-name">
                                <a href="/adobe-photoshop-cs4">Adobe Photoshop CS4</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item-gallery">
                        <div class="item-picture">
                            <a href="/adobe-photoshop-cs4" title="Adobe Photoshop CS4"> <img alt="Picture of Adobe Photoshop CS4" src="https://localhost:44359/Content/images/thumbs/0000032_adobe-photoshop-cs4_510.jpeg" title="Picture of Adobe Photoshop CS4" /> </a>
                        </div>
                    </div>
                    <div class="overview">
                        <div class="short-description"> Easily find and view all your photos </div>
                        <!--price-->
                        <div class="prices"> <span class="price actual-price">$75.00</span> </div> <a href="/adobe-photoshop-cs4" class="button-1 go-to-product-page">Go To Product Page</a>
                    </div>
                </div>
            </div>
            <div class="product-element sale-of-the-day-product-1-17" data-productid="17">
                <div class="sale-item ">
                    <!--product pictures-->
                    <div class="name-and-timer">
                        <!--countdown timer-->
                        <div class="product-name">
                            <h2 class="item-name">
                                <a href="/apple-icam">Apple iCam</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item-gallery">
                        <div class="item-picture">
                            <a href="/apple-icam" title="Apple iCam"> <img alt="Picture of Apple iCam" src="https://localhost:44359/Content/images/thumbs/0000040_apple-icam_510.jpeg" title="Picture of Apple iCam" /> </a>
                        </div>
                    </div>
                    <div class="overview">
                        <div class="short-description"> Photography becomes smart </div>
                        <!--price-->
                        <div class="prices"> <span class="price actual-price">$1,300.00</span> </div> <a href="/apple-icam" class="button-1 go-to-product-page">Go To Product Page</a>
                    </div>
                </div>
            </div>
            <div class="product-element sale-of-the-day-product-1-4" data-productid="4">
                <div class="sale-item ">
                    <!--product pictures-->
                    <div class="name-and-timer">
                        <!--countdown timer-->
                        <div class="product-name">
                            <h2 class="item-name">
                                <a href="/apple-macbook-pro-13-inch">Apple MacBook Pro 13-inch</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item-gallery">
                        <div class="item-picture">
                            <a href="/apple-macbook-pro-13-inch" title="Apple MacBook Pro 13-inch"> <img alt="Picture of Apple MacBook Pro 13-inch" src="https://localhost:44359/Content/images/thumbs/0000024_apple-macbook-pro-13-inch_510.jpeg" title="Picture of Apple MacBook Pro 13-inch" /> </a>
                        </div>
                        <div class="picture-thumbs">
                            <a class="thumb-item" href="https://localhost:44359/Content/images/thumbs/0000024_apple-macbook-pro-13-inch.jpeg" title="Apple MacBook Pro 13-inch">
                                <span>
                                    <img src="https://localhost:44359/Content/images/thumbs/0000024_apple-macbook-pro-13-inch_105.jpeg" alt="Picture of Apple MacBook Pro 13-inch" title="Picture of Apple MacBook Pro 13-inch" />
                                </span>
                            </a>
                            <a class="thumb-item" href="https://localhost:44359/Content/images/thumbs/0000025_apple-macbook-pro-13-inch.jpeg" title="Apple MacBook Pro 13-inch">
                                <span>
                                    <img src="https://localhost:44359/Content/images/thumbs/0000025_apple-macbook-pro-13-inch_105.jpeg" alt="Picture of Apple MacBook Pro 13-inch" title="Picture of Apple MacBook Pro 13-inch" />
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="overview">
                        <div class="short-description"> A groundbreaking Retina display. A new force-sensing trackpad. All-flash architecture. Powerful dual-core and quad-core Intel processors. Together, these features take the notebook to a new level of performance. And they will do the same for you in everything you create. </div>
                        <!--price-->
                        <div class="prices"> <span class="price actual-price">$1,800.00</span> </div> <a href="/apple-macbook-pro-13-inch" class="button-1 go-to-product-page">Go To Product Page</a>
                    </div>
                </div>
            </div>
            <div class="product-element sale-of-the-day-product-1-5" data-productid="5">
                <div class="sale-item ">
                    <!--product pictures-->
                    <div class="name-and-timer">
                        <!--countdown timer-->
                        <div class="product-name">
                            <h2 class="item-name">
                                <a href="/asus-n551jk-xo076h-laptop">Asus N551JK-XO076H Laptop</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item-gallery">
                        <div class="item-picture">
                            <a href="/asus-n551jk-xo076h-laptop" title="Asus N551JK-XO076H Laptop"> <img alt="Picture of Asus N551JK-XO076H Laptop" src="https://localhost:44359/Content/images/thumbs/0000026_asus-n551jk-xo076h-laptop_510.jpeg" title="Picture of Asus N551JK-XO076H Laptop" /> </a>
                        </div>
                    </div>
                    <div class="overview">
                        <div class="short-description"> Laptop Asus N551JK Intel Core i7-4710HQ 2.5 GHz, RAM 16GB, HDD 1TB, Video NVidia GTX 850M 4GB, BluRay, 15.6, Full HD, Win 8.1 </div>
                        <!--price-->
                        <div class="prices"> <span class="price actual-price">$1,500.00</span> </div> <a href="/asus-n551jk-xo076h-laptop" class="button-1 go-to-product-page">Go To Product Page</a>
                    </div>
                </div>
            </div>
            <div class="product-element sale-of-the-day-product-1-21" data-productid="21">
                <div class="sale-item ">
                    <!--product pictures-->
                    <div class="name-and-timer">
                        <!--countdown timer-->
                        <div class="product-name">
                            <h2 class="item-name">
                                <a href="/beats-pill-20-wireless-speaker">Beats Pill 2.0 Wireless Speaker</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item-gallery">
                        <div class="item-picture">
                            <a href="/beats-pill-20-wireless-speaker" title="Beats Pill 2.0 Wireless Speaker"> <img alt="Picture of Beats Pill 2.0 Wireless Speaker" src="https://localhost:44359/Content/images/thumbs/0000045_beats-pill-20-wireless-speaker_510.jpeg" title="Picture of Beats Pill 2.0 Wireless Speaker" /> </a>
                        </div>
                        <div class="picture-thumbs">
                            <a class="thumb-item" href="https://localhost:44359/Content/images/thumbs/0000045_beats-pill-20-wireless-speaker.jpeg" title="Beats Pill 2.0 Wireless Speaker">
                                <span>
                                    <img src="https://localhost:44359/Content/images/thumbs/0000045_beats-pill-20-wireless-speaker_105.jpeg" alt="Picture of Beats Pill 2.0 Wireless Speaker" title="Picture of Beats Pill 2.0 Wireless Speaker" />
                                </span>
                            </a>
                            <a class="thumb-item" href="https://localhost:44359/Content/images/thumbs/0000046_beats-pill-20-wireless-speaker.jpeg" title="Beats Pill 2.0 Wireless Speaker">
                                <span>
                                    <img src="https://localhost:44359/Content/images/thumbs/0000046_beats-pill-20-wireless-speaker_105.jpeg" alt="Picture of Beats Pill 2.0 Wireless Speaker" title="Picture of Beats Pill 2.0 Wireless Speaker" />
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="overview">
                        <div class="short-description"> <b>Pill 2.0 Portable Bluetooth Speaker (1-Piece):</b> Watch your favorite movies and listen to music with striking sound quality. This lightweight, portable speaker is easy to take with you as you travel to any destination, keeping you entertained wherever you are. </div>
                        <!--price-->
                        <div class="prices"> <span class="price actual-price">From $15.00</span> </div> <a href="/beats-pill-20-wireless-speaker" class="button-1 go-to-product-page">Go To Product Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="saleOfTheDayInfo" data-localization-day="day" data-localization-days="days" data-localization-hour="hour" data-localization-hours="hours" data-localization-minute="minute" data-localization-minutes="minutes" data-localization-second="second" data-localization-seconds="seconds">
</div>