<div class="spc spc-categories landscape products-8" data-categorygroupid="6" data-getcategorygroupinfourl="/PrepareCategoryGroupSPC" data-getitemproductsurl="/GetProductsForItemSPC">
    <div class="spc-header">
        <h2 class="category-title">
            <a href="/camera-photo" title="Camera &amp; photo">Camera &amp; photo</a>
        </h2>
    </div>

    <div class="spc-body">
        <div class="category-info">
            <div class="category-details">
                <div class="category-picture">
                    <a href="/camera-photo" title="Camera &amp; photo">
                        <img src="https://localhost:44359/Content/images/thumbs/0000006_camera-photo.jpeg" alt="Show products in category Camera &amp; photo">
                        <label class="spc-to-all-products">See all products</label>
                    </a>
                </div>
                <div class="mobile-navigation category-mobile-navigation">
                    <select class="category-mobile-navigation-select">
                        <option class="tab" value="4" data-tabid="4">NEWEST</option>
                        <option class="tab" value="8" data-tabid="8">BESTSELLERS</option>
                        <option class="tab" value="9" data-tabid="9">CHEAPEST</option>
                        <option class="tab" value="10" data-tabid="10">FEATURED</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="category-products">
            <ul class="navigation">
                <li class="tab active" data-tabid="4">
                    <span>NEWEST</span>
                </li>
                <li class="tab" data-tabid="8" notloaded="">
                    <span>BESTSELLERS</span>
                </li>
                <li class="tab" data-tabid="9" notloaded="">
                    <span>CHEAPEST</span>
                </li>
                <li class="tab" data-tabid="10" notloaded="">
                    <span>FEATURED</span>
                </li>
            </ul>
            <div class="product-grid active" data-tabid="4">
                <div class="item-grid slick-initialized slick-slider">
                    <div aria-live="polite" class="slick-list">
                        <div class="slick-track" style="opacity: 1; width: 788px; transform: translate3d(0px, 0px, 0px);" role="listbox">
                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 394px;" tabindex="-1" role="option" aria-describedby="slick-slide50">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="item-box">




                                            <div class="product-item sevenspikes-ajaxcart" data-productid="17">
                                                <div class="picture">
                                                    <a href="/apple-icam" title="Show details for Apple iCam" tabindex="0">
                                                        <img class="picture-img" src="https://localhost:44359/Content/images/thumbs/0000040_apple-icam_360.jpeg" alt="Picture of Apple iCam" title="Show details for Apple iCam">
                                                    </a>
                                                    <div class="btn-wrapper">
                                                        <div class="quick-view-button"><a title="Quick View" tabindex="0">Quick View</a></div>
                                                        <button type="button" title="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/17');return false;" tabindex="0">Add to compare list</button>
                                                        <button type="button" title="Add to wishlist" class="button-2 add-to-wishlist-button" tabindex="0">Add to wishlist</button>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <h2 class="product-title">
                                                        <a href="/apple-icam" tabindex="0">Apple iCam</a>
                                                    </h2>
                                                    <div class="product-rating-box" title="1 review(s)">
                                                        <div class="rating">
                                                            <div style="width: 80%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="description">
                                                        Photography becomes smart
                                                    </div>
                                                    <div class="add-info">

                                                        <div class="prices">
                                                            <span class="price actual-price">$1,300.00</span>
                                                        </div>

                                                        <div class="buttons">
                                                            <div class="ajax-cart-button-wrapper" data-productid="17" data-isproductpage="false">
                                                                <div class="add-to-cart-qty-wrapper">
                                                                    <input id="productQuantity17" type="text" class="productQuantityTextBox" value="1">
                                                                    <span class="plus">i</span>
                                                                    <span class="minus">h</span>
                                                                </div>
                                                                <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button nopAjaxCartProductListAddToCartButton" data-productid="17">


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="item-box">




                                            <div class="product-item sevenspikes-ajaxcart" data-productid="16">
                                                <div class="picture">
                                                    <a href="/leica-t-mirrorless-digital-camera" title="Show details for Leica T Mirrorless Digital Camera" tabindex="0">
                                                        <img class="picture-img" src="https://localhost:44359/Content/images/thumbs/0000039_leica-t-mirrorless-digital-camera_360.jpeg" alt="Picture of Leica T Mirrorless Digital Camera" title="Show details for Leica T Mirrorless Digital Camera">
                                                    </a>
                                                    <div class="btn-wrapper">
                                                        <div class="quick-view-button"><a title="Quick View" tabindex="0">Quick View</a></div>
                                                        <button type="button" title="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/16');return false;" tabindex="0">Add to compare list</button>
                                                        <button type="button" title="Add to wishlist" class="button-2 add-to-wishlist-button" tabindex="0">Add to wishlist</button>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <h2 class="product-title">
                                                        <a href="/leica-t-mirrorless-digital-camera" tabindex="0">Leica T Mirrorless Digital Camera</a>
                                                    </h2>
                                                    <div class="product-rating-box" title="1 review(s)">
                                                        <div class="rating">
                                                            <div style="width: 80%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="description">
                                                        Leica T (Typ 701) Silver
                                                    </div>
                                                    <div class="add-info">

                                                        <div class="prices">
                                                            <span class="price actual-price">$530.00</span>
                                                        </div>

                                                        <div class="buttons">
                                                            <div class="ajax-cart-button-wrapper" data-productid="16" data-isproductpage="false">
                                                                <div class="add-to-cart-qty-wrapper">
                                                                    <input id="productQuantity16" type="text" class="productQuantityTextBox" value="1">
                                                                    <span class="plus">i</span>
                                                                    <span class="minus">h</span>
                                                                </div>
                                                                <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button nopAjaxCartProductListAddToCartButton" data-productid="16">


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 394px;" tabindex="-1" role="option" aria-describedby="slick-slide51">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="item-box">




                                            <div class="product-item sevenspikes-ajaxcart" data-productid="13">
                                                <div class="picture">
                                                    <a href="/nikon-d5500-dslr" title="Show details for Nikon D5500 DSLR" tabindex="0">
                                                        <img class="picture-img" src="https://localhost:44359/Content/images/thumbs/0000035_nikon-d5500-dslr_360.jpeg" alt="Picture of Nikon D5500 DSLR" title="Show details for Nikon D5500 DSLR">
                                                    </a>
                                                    <div class="btn-wrapper">
                                                        <div class="quick-view-button"><a title="Quick View" tabindex="0">Quick View</a></div>
                                                        <button type="button" title="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/13');return false;" tabindex="0">Add to compare list</button>
                                                        <button type="button" title="Add to wishlist" class="button-2 add-to-wishlist-button" tabindex="0">Add to wishlist</button>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <h2 class="product-title">
                                                        <a href="/nikon-d5500-dslr" tabindex="0">Nikon D5500 DSLR</a>
                                                    </h2>
                                                    <div class="product-rating-box" title="0 review(s)">
                                                        <div class="rating">
                                                            <div style="width: 0%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="description">
                                                        Slim, lightweight Nikon D5500 packs a vari-angle touchscreen
                                                    </div>
                                                    <div class="add-info">

                                                        <div class="prices">
                                                            <span class="price actual-price">From $630.00</span>
                                                        </div>

                                                        <div class="buttons">
                                                            <div class="ajax-cart-button-wrapper" data-productid="13" data-isproductpage="false">
                                                                <div class="add-to-cart-qty-wrapper">
                                                                    <input id="productQuantity13" type="text" class="productQuantityTextBox" value="1">
                                                                    <span class="plus">i</span>
                                                                    <span class="minus">h</span>
                                                                </div>
                                                                <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button nopAjaxCartProductListAddToCartButton" data-productid="13">


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-grid" data-tabid="8">
                <div class="item-grid">

                    <span class="no-data">No Products Available.</span>

                </div>
            </div>
            <div class="product-grid" data-tabid="9">
                <div class="item-grid">

                    <span class="no-data">No Products Available.</span>

                </div>
            </div>
            <div class="product-grid" data-tabid="10">
                <div class="item-grid">

                    <span class="no-data">No Products Available.</span>

                </div>
            </div>
            <div class="loading-overlay">
                <span>Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="spc spc-categories landscape products-8" data-categorygroupid="7" data-getcategorygroupinfourl="/PrepareCategoryGroupSPC" data-getitemproductsurl="/GetProductsForItemSPC">
    <div class="spc-header">
        <h2 class="category-title">
            <a href="/cell-phones" title="Cell phones">Cell phones</a>
        </h2>
    </div>

    <div class="spc-body">
        <div class="category-info">
            <div class="category-details">
                <div class="category-picture">
                    <a href="/cell-phones" title="Cell phones">
                        <img src="https://localhost:44359/Content/images/thumbs/0000007_cell-phones.jpeg" alt="Show products in category Cell phones">
                        <label class="spc-to-all-products">See all products</label>
                    </a>
                </div>
                <div class="mobile-navigation category-mobile-navigation">
                    <select class="category-mobile-navigation-select">
                        <option class="tab" value="5" data-tabid="5">NEWEST</option>
                        <option class="tab" value="11" data-tabid="11">BESTSELLERS</option>
                        <option class="tab" value="12" data-tabid="12">CHEAPEST</option>
                        <option class="tab" value="13" data-tabid="13">FEATURED</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="category-products">
            <ul class="navigation">
                <li class="tab active" data-tabid="5">
                    <span>NEWEST</span>
                </li>
                <li class="tab" data-tabid="11" notloaded="">
                    <span>BESTSELLERS</span>
                </li>
                <li class="tab" data-tabid="12" notloaded="">
                    <span>CHEAPEST</span>
                </li>
                <li class="tab" data-tabid="13" notloaded="">
                    <span>FEATURED</span>
                </li>
            </ul>
            <div class="product-grid active" data-tabid="5">
                <div class="item-grid slick-initialized slick-slider">
                    <div aria-live="polite" class="slick-list">
                        <div class="slick-track" style="opacity: 1; width: 788px; transform: translate3d(0px, 0px, 0px);" role="listbox">
                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 394px;" tabindex="-1" role="option" aria-describedby="slick-slide60">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="item-box">




                                            <div class="product-item sevenspikes-ajaxcart" data-productid="18">
                                                <div class="picture">
                                                    <a href="/htc-one-m8-android-l-50-lollipop" title="Show details for HTC One M8 Android L 5.0 Lollipop" tabindex="0">
                                                        <img class="picture-img" src="https://localhost:44359/Content/images/thumbs/0000041_htc-one-m8-android-l-50-lollipop_360.jpeg" alt="Picture of HTC One M8 Android L 5.0 Lollipop" title="Show details for HTC One M8 Android L 5.0 Lollipop">
                                                    </a>
                                                    <div class="btn-wrapper">
                                                        <div class="quick-view-button"><a title="Quick View" tabindex="0">Quick View</a></div>
                                                        <button type="button" title="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/18');return false;" tabindex="0">Add to compare list</button>
                                                        <button type="button" title="Add to wishlist" class="button-2 add-to-wishlist-button" tabindex="0">Add to wishlist</button>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <h2 class="product-title">
                                                        <a href="/htc-one-m8-android-l-50-lollipop" tabindex="0">HTC One M8 Android L 5.0 Lollipop</a>
                                                    </h2>
                                                    <div class="product-rating-box" title="1 review(s)">
                                                        <div class="rating">
                                                            <div style="width: 100%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="description">
                                                        HTC - One (M8) 4G LTE Cell Phone with 32GB Memory - Gunmetal (Sprint)
                                                    </div>
                                                    <div class="add-info">

                                                        <div class="prices">
                                                            <span class="price actual-price">$245.00</span>
                                                        </div>

                                                        <div class="buttons">
                                                            <div class="ajax-cart-button-wrapper" data-productid="18" data-isproductpage="false">
                                                                <div class="add-to-cart-qty-wrapper">
                                                                    <input id="productQuantity18" type="text" class="productQuantityTextBox" value="1">
                                                                    <span class="plus">i</span>
                                                                    <span class="minus">h</span>
                                                                </div>
                                                                <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button nopAjaxCartProductListAddToCartButton" data-productid="18">


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="item-box">




                                            <div class="product-item sevenspikes-ajaxcart" data-productid="19">
                                                <div class="picture">
                                                    <a href="/htc-one-mini-blue" title="Show details for HTC One Mini Blue" tabindex="0">
                                                        <img class="picture-img" src="https://localhost:44359/Content/images/thumbs/0000042_htc-one-mini-blue_360.jpeg" alt="Picture of HTC One Mini Blue" title="Show details for HTC One Mini Blue">
                                                    </a>
                                                    <div class="btn-wrapper">
                                                        <div class="quick-view-button"><a title="Quick View" tabindex="0">Quick View</a></div>
                                                        <button type="button" title="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/19');return false;" tabindex="0">Add to compare list</button>
                                                        <button type="button" title="Add to wishlist" class="button-2 add-to-wishlist-button" tabindex="0">Add to wishlist</button>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <h2 class="product-title">
                                                        <a href="/htc-one-mini-blue" tabindex="0">HTC One Mini Blue</a>
                                                    </h2>
                                                    <div class="product-rating-box" title="0 review(s)">
                                                        <div class="rating">
                                                            <div style="width: 0%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="description">
                                                        HTC One and HTC One Mini now available in bright blue hue
                                                    </div>
                                                    <div class="add-info">

                                                        <div class="prices">
                                                            <span class="price actual-price">$100.00</span>
                                                        </div>

                                                        <div class="buttons">
                                                            <div class="ajax-cart-button-wrapper" data-productid="19" data-isproductpage="false">
                                                                <div class="add-to-cart-qty-wrapper">
                                                                    <input id="productQuantity19" type="text" class="productQuantityTextBox" value="1">
                                                                    <span class="plus">i</span>
                                                                    <span class="minus">h</span>
                                                                </div>
                                                                <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button nopAjaxCartProductListAddToCartButton" data-productid="19">


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 394px;" tabindex="-1" role="option" aria-describedby="slick-slide61">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="item-box">




                                            <div class="product-item sevenspikes-ajaxcart" data-productid="20">
                                                <div class="picture">
                                                    <a href="/nokia-lumia-1020" title="Show details for Nokia Lumia 1020" tabindex="0">
                                                        <img class="picture-img" src="https://localhost:44359/Content/images/thumbs/0000044_nokia-lumia-1020_360.jpeg" alt="Picture of Nokia Lumia 1020" title="Show details for Nokia Lumia 1020">
                                                    </a>
                                                    <div class="btn-wrapper">
                                                        <div class="quick-view-button"><a title="Quick View" tabindex="0">Quick View</a></div>
                                                        <button type="button" title="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/20');return false;" tabindex="0">Add to compare list</button>
                                                        <button type="button" title="Add to wishlist" class="button-2 add-to-wishlist-button" tabindex="0">Add to wishlist</button>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <h2 class="product-title">
                                                        <a href="/nokia-lumia-1020" tabindex="0">Nokia Lumia 1020</a>
                                                    </h2>
                                                    <div class="product-rating-box" title="1 review(s)">
                                                        <div class="rating">
                                                            <div style="width: 80%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="description">
                                                        Nokia Lumia 1020 4G Cell Phone (Unlocked)
                                                    </div>
                                                    <div class="add-info">

                                                        <div class="prices">
                                                            <span class="price actual-price">$349.00</span>
                                                        </div>

                                                        <div class="buttons">
                                                            <div class="ajax-cart-button-wrapper" data-productid="20" data-isproductpage="false">
                                                                <div class="add-to-cart-qty-wrapper">
                                                                    <input id="productQuantity20" type="text" class="productQuantityTextBox" value="1">
                                                                    <span class="plus">i</span>
                                                                    <span class="minus">h</span>
                                                                </div>
                                                                <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button nopAjaxCartProductListAddToCartButton" data-productid="20">


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-grid" data-tabid="11">
                <div class="item-grid">

                    <span class="no-data">No Products Available.</span>

                </div>
            </div>
            <div class="product-grid" data-tabid="12">
                <div class="item-grid">

                    <span class="no-data">No Products Available.</span>

                </div>
            </div>
            <div class="product-grid" data-tabid="13">
                <div class="item-grid">

                    <span class="no-data">No Products Available.</span>

                </div>
            </div>
            <div class="loading-overlay">
                <span>Loading...</span>
            </div>
        </div>
    </div>
</div>