
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CategoryDetail.cshtml";
}
<div class="center-2">
    <div class="page blog-page">
        <div class="page-title">
            <a href="/blog/rss/1" class="link-rss" title="Click here to be informed automatically when we add new items to our site.">RSS</a>
            <h1>
                Blog
            </h1>
        </div>
        <div class="page-body">
            <div class="blog-posts">
                <div class="post" style="height: 310px;">
                    <div class="post-details">
                        <div class="post-head">
                            <span class="post-date">10 Dec 2014</span>
                            <a href="/managing-online-business-1#comments" class="read-comments">(6)</a>
                            <a class="post-title" href="/managing-online-business-1">Customer Service - Client Service</a>
                        </div>
                        <div class="post-body">
                            <p>Managing online business requires different skills and abilities than managing a business in the ‘real world.’ Customers can easily detect the size and determine the prestige of a business when they have the ability to walk in and take a look around. Not only do ‘real-world’ furnishings and location...</p>
                        </div>
                        @*<div class="buttons">
                            <a href="/managing-online-business-1" class="read-more">details</a>
                        </div>*@
                        <div class="post-footer">
                            <div class="post-actions">
                                <a href="/managing-online-business-1" class="read-more">Read More</a>
                                <ul class="share-post" id="share-buttons">
                                    <li class="linkedin">

                                        <a href="javascript:openShareWindow('https://www.linkedin.com/shareArticle?mini=true&amp;url=https://megastore.nop-templates.com/managing-online-business-1')"></a>
                                    </li>
                                </ul>
                                <script>
                                    function openShareWindow(url) {
                                        var winWidth = 520;
                                        var winHeight = 400;
                                        var winTop = (screen.height / 2) - (winHeight / 2);
                                        var winLeft = (screen.width / 2) - (winWidth / 2);

                                        window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
                                    }

                                    !function (a, b, c) { var d, e, f; d = "PIN_" + ~~((new Date).getTime() / 864e5), a[d] ? a[d] += 1 : (a[d] = 1, a.setTimeout(function () { e = b.getElementsByTagName("SCRIPT")[0], f = b.createElement("SCRIPT"), f.type = "text/javascript", f.async = !0, f.src = c.mainUrl + "?" + Math.random(), e.parentNode.insertBefore(f, e) }, 10)) }(window, document, { mainUrl: "//assets.pinterest.com/js/pinit_main.js" });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post" style="height: 310px;">
                    <div class="post-details">
                        <div class="post-head">
                            <span class="post-date">10 Dec 2014</span>
                            <a href="/online-discounts-coupons-1#comments" class="read-comments">(0)</a>
                            <a class="post-title" href="/online-discounts-coupons-1">Online Discount Coupons</a>
                        </div>
                        <div class="post-body">
                            <p>Online discount coupons enable access to great offers from some of the world’s best sites for Internet shopping. The online coupons are designed to allow compulsive online shoppers to access massive discounts on a variety of products. The regular shopper accesses the coupons in bulk and avails of gr...</p>
                        </div>
                        @*<div class="buttons">
                            <a href="/online-discounts-coupons-1" class="read-more">details</a>
                        </div>*@
                        <div class="post-footer">
                            <div class="post-actions">
                                <a href="/online-discounts-coupons-1" class="read-more">Read More</a>
                                <ul class="share-post" id="share-buttons">
                                    <li class="linkedin">

                                        <a href="javascript:openShareWindow('https://www.linkedin.com/shareArticle?mini=true&amp;url=https://megastore.nop-templates.com/online-discounts-coupons-1')"></a>
                                    </li>
                                </ul>
                                <script>
                                    function openShareWindow(url) {
                                        var winWidth = 520;
                                        var winHeight = 400;
                                        var winTop = (screen.height / 2) - (winHeight / 2);
                                        var winLeft = (screen.width / 2) - (winWidth / 2);

                                        window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
                                    }

                                    !function (a, b, c) { var d, e, f; d = "PIN_" + ~~((new Date).getTime() / 864e5), a[d] ? a[d] += 1 : (a[d] = 1, a.setTimeout(function () { e = b.getElementsByTagName("SCRIPT")[0], f = b.createElement("SCRIPT"), f.type = "text/javascript", f.async = !0, f.src = c.mainUrl + "?" + Math.random(), e.parentNode.insertBefore(f, e) }, 10)) }(window, document, { mainUrl: "//assets.pinterest.com/js/pinit_main.js" });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>