
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CategoryDetail.cshtml";
}
<div class="center-2">
    <div class="page news-list-page">
        <div class="page-title">
            <a href="/news/rss/1" class="link-rss" title="Click here to be informed automatically when we add new items to our site.">RSS</a>
            <h1>News</h1>
        </div>
        <div class="page-body">
            <div class="news-items">
                <div class="news-item" style="height: 251px;">
                    <div class="news-head">
                        <span class="news-date">03 Apr 2018</span>
                        <a class="news-title" href="/find-out-about-our-products">Find out about our products</a>
                    </div>
                    <div class="news-body">
                        Lorem ipsum faucibus lacinia integer duis integer sodales accumsan...
                    </div>
                    <div class="buttons">
                        <a href="/find-out-about-our-products" class="read-more">details</a>
                    </div>
                </div>
                <div class="news-item" style="height: 251px;">
                    <div class="news-head">
                        <span class="news-date">03 Apr 2018</span>
                        <a class="news-title" href="/check-out-our-latest-offers">Check out our latest offers</a>
                    </div>
                    <div class="news-body">
                        Lorem ipsum faucibus lacinia integer duis integer sodales accumsan...
                    </div>
                    <div class="buttons">
                        <a href="/check-out-our-latest-offers" class="read-more">details</a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-head">
                        <span class="news-date">03 Apr 2018</span>
                        <a class="news-title" href="/visit-our-new-store">Visit our new store</a>
                    </div>
                    <div class="news-body">
                        Lorem ipsum faucibus lacinia integer duis integer sodales accumsan...
                    </div>
                    <div class="buttons">
                        <a href="/visit-our-new-store" class="read-more">details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

